<form id="frmImage">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-2"> Quote # {{quote.id}}
         </div>
         <div class="col-md-4">
            <table>
               <tbody>
                  <tr>
                     <td>Customer #</td>
                     <td>{{quote.contact.customerId}}</td>
                  </tr>
                  <tr>
                     <td>Phone #</td>
                     <td>{{quote.contact.phone}}</td>
                  </tr>
                  <tr>
                     <td>email</td>
                     <td>{{quote.contact.email}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="col-md-4">
            <table>
               <tbody>
                  <tr ng-repeat="line in quote.contact.lines">
                     <td colspan="2">{{line.text}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="col-md-2"></div>
      </div>
      <div class="row">
         <div class="col-md-1">
         </div>
         <div class="col-md-8">Product # {{quote.product.id}}&nbsp;{{quote.product.description}}
         </div>
         <div class="col-md-3">
         </div>
      </div>
      <div class="row" ng-cloak>
         <div class="col-md-1">
         </div>
         <div class="col-md-8">
            <canvas id="imgCanvas" width="575" height="575" style="border: 1px solid black" />
            <!-- <img class="img-responsive"  name="scanImage" id="scanImage" ng-src="{{currentImage}} "> -->
         </div>
         <div class="col-md-3">
         </div>
      </div>
      <div class="row" ng-cloak ng-show="quote.product.id && quote.date" >
         <div class="col-md-3 " >
            <div class="pull-right">				   
               <button ng-click="increaseSize()" class="btn btn-default" ng-disabled="!currentImage"><span class="glyphicon glyphicon-zoom-in" ></span></button>
               <a ng-click="decreaseSize()" class="btn btn-default" ng-disabled="!currentImage"><span class="glyphicon glyphicon-zoom-out"> </span></a>
            </div>
         </div>
         <div class="col-md-7">
            <span ng-hide="!quote.product.id" class="btn btn-danger btn-file">Browse
            <input type='file' id="imgInp" /></span>
            <button ng-disabled="!currentImage" ng-click="saveImage()" class="btn btn-primary btn-danger">Save <span class="glyphicon glyphicon-floppy-disk"></span></button>
            <div  ng-show="imageSaved" class="col-md-4 btn btn-primary btn-info pull-right">Image Saved</div>
         </div>
         <div class="col-md-2">
         </div>
      </div>
	  <div class="row" ng-cloak ng-show="!quote.product.id && quote.date" >
         <div class="col-md-1">
         </div>
         <div class="col-md-8 alert alert-danger">Please create Product before adding Images</div>
         <div class="col-md-3">
         </div>
      </div>
   </div>
</form>